<div class="modal fade" id="aboutModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="header-m">
        <h2 class="heading">About <span>Me</span></h2>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1 row-cols-md-2 mx-auto">
          <div class="col-md-6 myColone mb-5">
            <img class="rounded img-fluid" src="assets/images/illustrations/javascript.svg">
          </div>
          <div class="col-md-6">
            <p>
              Bienvenue ! Je suis un passionné du développement web avec une expertise particulière dans les technologies Angular et Java. Fort de <span class="badge2 rounded-pill bg-success">trois années</span> d'expérience dans ce domaine dynamique, j'ai eu l'opportunité de concevoir et de développer des applications innovantes qui repoussent les limites de la technologie.<br>

              <br>Au cours de ma carrière, j'ai dirigé avec succès <span class="badge2 rounded-pill bg-info">10 projets majeurs</span>, dont la création de Système de réservation de salle de conférence, une application Angular immersive offrant une expérience utilisateur exceptionnelle. J'ai également contribué de manière significative à Application E-commerce, une application Java Web robuste qui a renforcé ma compréhension approfondie des architectures backend.<br>

              <br>Ma palette de compétences englobe la conception réactive avec <span class="badge2 rounded-pill bg-primary">Angular</span>, la mise en œuvre d'API RESTful en <span class="badge2 rounded-pill bg-danger">Java</span>, et la gestion efficace des bases de données pour assurer des performances optimales. Ma passion pour rester à la pointe des dernières avancées technologiques se reflète dans ma capacité à intégrer les meilleures pratiques et les innovations dans mes projets.<br>

            </p>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto">
          <div class="col-md-6 mt-5">
            <p>
              <br>Au-delà du code, je suis profondément engagé dans la <span class="souligne-coleur2">création de solutions sur mesure</span> en collaboration étroite avec les clients. Ma philosophie de travail repose sur la transparence, la communication ouverte et une approche itérative pour <span class="souligne-coleur2">garantir la satisfaction du client.</span><br>

              <br>En dehors du monde du développement, je nourris ma créativité en explorant de nouveaux frameworks et en participant à des communautés tech. Que ce soit <span class="souligne-coleur2">résoudre des problèmes complexes</span> de backend ou créer des <span class="souligne-coleur2">interfaces utilisateur intuitives</span>, chaque ligne de code que j'écris est guidée par mon engagement envers l'excellence.<br>

              <br>Si vous souhaitez en savoir plus sur mes projets, mes compétences spécifiques ou discuter de possibilités de collaboration, n'hésitez pas à me contacter. Merci de visiter mon portfolio !

            </p>
          </div>
          <div class="col-md-6 myColone">
            <img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="assets/images/illustrations/startup.svg">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
